/* =====================================================
   RESET CSS
   ===================================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
